body{
	overflow: hidden;
}
.header,.footer{
	height:50px;
	position: fixed;
	display: block;
	width: 100%;
	color: #FFF;
	background-color:#38A9E1;
	z-index: 2;
}
.header{
	top: 0;
}
.footer{
	bottom: 0;
}

.header h1{
	float:left;
	margin:0;
	line-height: 50px;
	padding:0 20px;
}
#menu{
	float: left;
	height: inherit;
    width: 50%;
}
#menu li {
	line-height: 50px;
	height: inherit;
	/*padding:0 25px;*/
	float: left;
	width: 20%;
    text-align: center;
	transition:background-color 0.8s;
}
#menu li:hover{
    background-color: #1E8FC7;
}
#menu li.active {
    background-color: #1E8FC7;
}
#menu li a {
	color:#FFF;
	
}


.insideBlock{
	height:inherit;line-height: inherit;margin:50px 0;
}


#techPieChart{
	height: inherit;
}
