body{
	overflow: hidden;
}
.header,.footer{
	height:48px;
	position: fixed;
	display: block;
	width: 100%;
	color: #FFF;
	background-color:#38A9E1;
	z-index: 2;
}
.header{
	top: 0;
}
.footer{
	bottom: 0;
}
.none{
	display: none;
}
.header h1{
	float:left;
	margin:0;
	line-height: 48px;
	padding:0 20px;
}
#menu{
	float: left;
	height: inherit;
    width: 50%;
}
#menu li {
	line-height: 48px;
	height: inherit;
	/*padding:0 25px;*/
	float: left;
	width: 20%;
    text-align: center;
	transition:background-color 0.8s;
}
#menu li:hover{
    background-color: #1E8FC7;
}
#menu li.active {
    background-color: #1E8FC7;
}
#menu li a {
	color:#FFF;
    line-height: inherit;
    height: inherit;
    display: inline-block;
    width: 100%;
}


.insideBlock{
	height:inherit;line-height: inherit;margin:50px 0;
}


#techPieChart{
	height: inherit;
}


/*实验室的样式*/
.lab-title{
    padding: 18px;
    background-color: #00ccff;
    display: inline-block;
    font-size: 22px;
    margin: 18px;
    border-radius: 18px;
}
.lab-title a{
	color:#FFF;
}
