body{
	overflow: hidden;
	min-width: 320px;
}
html {-webkit-text-size-adjust:none;}
.header,.footer{
	height:48px;
    line-height: 48px;
	position: fixed;
	display: block;
	width: 100%;
	color: #FFF;
	background-color:#38A9E1;
	z-index: 2;
}
.header{
	top: 0;
}
.footer{
	bottom: 0;
}
.none{
	display: none;
}
.header h1{
	float:left;
	margin:0;
	line-height: 48px;
	padding:0 20px;
}
.headIcon{
	margin-right: 10px;	
}
.footerIcon{
	font-size: 30px;
	line-height: 48px;
	width: 8%;
}
#menu{
	float: left;
	height: inherit;
    width: 50%;
}
#menu li {
	line-height: 48px;
	height: inherit;
	/*padding:0 25px;*/
	float: left;
	width: 20%;
    text-align: center;
	transition:background-color 0.8s;
}
#menu li:hover{
    background-color: #1E8FC7;
}
#menu li.active {
    background-color: #1E8FC7;
}
#menu li a {
	color:#FFF;
    line-height: inherit;
    height: inherit;
    display: inline-block;
    width: 100%;
}


.insideBlock{
	height:inherit;line-height: inherit;margin:50px 0;
}


#techPieChart{
	height: inherit;
}


/*实验室的样式*/
.lab-title{
    padding: 0.7em;
    background-color: #00ccff;
    display: inline-block;
    font-size: 1em;
    margin: 0.7em;
    border-radius: 18px;
    transition:background-color 0.5s;
}
p.lab-title:hover {
    background-color: #4285f4;
}
.lab-title a{
	color:#FFF;
}

.footer_a{
	line-height: inherit;
	height: inherit;
}
.footer_a:link,.footer_a:visited,.footer_a:hover,.footer_a:active{
	color:#fff;	
}
.qrcodeForGZH{
	display: none;
	position:absolute;
	bottom: 48px;
	width:30%;
}

.footerUL li{
    float: left;
    text-align: center;
    width: 14%;
}

.footer_a:hover{
	 animation-name: shake;
}
.weixin:hover{
	animation-name: zoomInDown;
}
.qq:hover{
	animation-name: rubberBand;
}
.gzh:hover{
	animation-name: bounceInDown;
}









@media screen and (max-width:480px) {
        h1{font-size: 1em;}
        #menu li a {font-size: 12px;}
        #menu li {
        	line-height: 24px;
        }
}





















@keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        animation-timing-function: cubic-bezier(0.55,.055,.675,.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        animation-timing-function: cubic-bezier(0.175,.885,.32,1)
    }
}
@keyframes bounceInDown {
    0%,100%,60%,75%,90% {
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,25px,0)
    }

    75% {
        transform: translate3d(0,-10px,0)
    }

    90% {
        transform: translate3d(0,5px,0)
    }

    100% {
        transform: none
    }
}


@keyframes shake {
    0%,100% {
        transform: translate3d(0,0,0)
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        transform: translate3d(10px,0,0)
    }
}
@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate3d(0,0,1,-200deg);
        opacity: 0
    }

    100% {
        transform-origin: center;
        transform: none;
        opacity: 1
    }
}
@keyframes tada {
    0% {
        transform: scale3d(1,1,1)
    }

    10%,20% {
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    }

    30%,50%,70%,90% {
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    }

    40%,60%,80% {
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
    }

    100% {
        transform: scale3d(1,1,1)
    }
}
@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    30% {
        -webkit-transform: scale3d(1.25,.75,1);
        transform: scale3d(1.25,.75,1)
    }

    40% {
        -webkit-transform: scale3d(0.75,1.25,1);
        transform: scale3d(0.75,1.25,1)
    }

    50% {
        -webkit-transform: scale3d(1.15,.85,1);
        transform: scale3d(1.15,.85,1)
    }

    65% {
        -webkit-transform: scale3d(.95,1.05,1);
        transform: scale3d(.95,1.05,1)
    }

    75% {
        -webkit-transform: scale3d(1.05,.95,1);
        transform: scale3d(1.05,.95,1)
    }

    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}




.animated.infinite {
    animation-iteration-count: infinite
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}