<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue 起步</title>
		<script src="../../../js/libs/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<h1>hello Vue.js</h1>
		<div id="app">
			{{message}}
		</div>
		<hr />
		
		<h1>双向绑定</h1>
		<div id="app2">
			<p>{{message}}</p>
			<input type="text" v-model="message" />
		</div>
		<hr />
		
		<h1>渲染列表</h1>
		<div id="app3">
			<ul>
				<li v-for="todo in todos">
					{{todo.text}}
				</li>
			</ul>
		</div>
		<hr />
		
		<h1>处理用户输入</h1>
		<div id="app4">
			<p>原来的：{{message}}</p>
			<p>{{newMessage}}</p>
			<button v-on:click="reverseMessage">Reverse Message</button>
		</div>
		<hr />
		
		<h1>综合</h1>
		<div id="app5">
			<input type="text" v-model="newTodo" v-on:keyup.enter="addTodo"/>
			<ul>
				<li v-for="todo in todos">
					<span>{{todo.text}}</span>
					<button v-on:click="removeTodo($index)">X</button>
				</li>
			</ul>
			<p></p>
		</div>
		<script type="text/javascript">
			new Vue()
		</script>
		<!--<script src="vue/start.vue" type="text/javascript" charset="utf-8"></script>-->
		<script src="vue/start.js"></script>
	</body>
</html>
