.red{
    width:10rem;
    height:10rem;
    background-color: red;
    .blue{
        width:4rem;
        height: 4rem;
        background-color:blue;
    }
}


// 第五个案例
.checkbox5{
    width: 10rem;
    height: 5rem;
    background:linear-gradient(silver, whitesmoke);
    border-radius: 2.5rem;
    font-size:4rem;

    .inner{
        width:8rem;
        height:3.5rem;
        background: linear-gradient(dimgray, silver);
        border-radius: 2rem;
        box-shadow: inset 0 0 1.5rem rgba(0, 0, 0, 0.5);


        .toggle{
            width: 3.5rem;
            height: 3.5rem;
            background: linear-gradient(to top, silver, whitesmoke);
            border-radius: 50%;
            box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
            position: relative;
            left: -30%;
            
        }
    }

}