<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>前端脚手架页面</title>
		<link rel="stylesheet" type="text/css" href="../css/itemList.css"/>
	</head>
	<body>
		<h1>phantomjs -- 前端自动化测试工具</h1>
		<pre>
			<code>
	一、下载：
		1.官网：http://phantomjs.org/
		2.外链：http://vdisk.weibo.com/s/yYW13wR2C9Dcz
	二、配置环境变量
		phantomjs.exe添加到环境变量里。
		具体如下：打开我的电脑->右键属性->高级系统设置->高级标签->环境变量，
		在系统变量里找到Path,将你的phantomjs添加到环境变量里。
		比方说我的路径添加的为“;D:\workspace\phantomjs\bin”，切记不要少了前面那个分号。
	三、执行之前的路径问题
		打开CMD命令行工具，切换到你的当前目录，才能运行当前文件夹中的js   eg: phantomjs hello.js，
	三、简单教程
	
		http://www.cnblogs.com/huangcong/archive/2013/04/18/3027654.html
		//这个看着很棒！！
		http://www.cnblogs.com/front-Thinking/p/4321720.html   
		
		下载的安装包中有examples文件，可以运行查看效果
		
		我console.log出来的中文全是乱码。
		解决方法：
				在js中添加   phantom.outputEncoding="gbk";

			</code>
		</pre>
	</body>
</html>
