body {
    line-height: 1.5;
    font-family: arial, "\5b8b\4f53";
    background: #fff;
    font-size: 12px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
ol,
ul {
    list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    *font-size: 100%;
}
fieldset,
img,
a img,
:link img,
:visited img {
    border: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
:focus {
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th {
    text-align: left;
}
sup,
sub {
    font-size: 100%;
    vertical-align: baseline;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
.clear,
.clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
}
.clearfix:after {
    visibility: hidden;
    content: ".";
}
.clearfix {
    *zoom: 1;
}
.common_wrap {
    width: 960px;
    margin: 0 auto;
}
.cWhite,
.cWhite:visited,
.cWhite a {
    color: #fff;
}
.cYellow,
.cYellow:visited {
    color: #ff0;
}
.cGreen,
.cGreen:visited {
    color: #008000;
}
.cGray,
.cGray:visited,
.cGray a {
    color: #333;
}
.cDGray,
.cDGray:visited,
.cDGray a {
    color: #727171;
}
.cBlack,
.cBlack:visited,
.cBlack a {
    color: #000;
}
.cBlue,
.cBlue:visited,
.cBlue a {
    color: #1e50a2;
}
.cRed,
.cRed:visited,
.cRed a {
    color: Red;
}
.cDRed,
.cDRed:visited,
.cDRed a {
    color: #ba2636;
}
.cRed a:hover,
a.cRed:hover,
.cBlue a:hover,
a.cBlue:hover,
.cDRed a:hover,
a.cDRed:hover,
.cGray a:hover,
a.cGray:hover,
.cDGray a:hover,
a.cDGray:hover,
.cWhite a:hover,
a.cWhite:hover,
.cBlack a:hover,
a.cBlack:hover,
.cGreen a:hover,
a.cGreen:hover,
.cYellow a:hover,
a.cYellow:hover {
    color: #ba2636;
}
.fB {
    font-weight: bold;
}
.fI {
    font-style: italic;
}
.f12px {
    font-size: 12px;
}
.f14px {
    font-size: 14px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hidden {
    display: none;
}
.unLine,
.unLine a {
    text-decoration: none;
}
.noBorder {
    border: 0;
}
.I_V_ {
    background: url(http://img1.cache.netease.com/img09/icon/icon.png) left center no-repeat;
    padding-left: 18px;
}
.I_M_ {
    background: url(http://img1.cache.netease.com/img09/icon/icon.png) -457px center no-repeat;
    padding-left: 18px;
}
.foot {
    margin: 0 auto;
    width: 960px;
    line-height: 21px;
    clear: both;
    color: #4d4d4d;
}
.foot .text {
    padding: 4px 0 5px;
    border-bottom: 1px solid #4d4d4d;
    margin: 0 0 5px;
}
.foot a,
.foot a:visited {
    color: #4d4d4d;
}
.foot a:hover {
    color: #ba2636;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: ".";
}
.blankW {
    background: #fff;
}
.blank3 {
    clear: both;
    height: 3px;
    overflow: hidden;
    display: block;
}
.blank6 {
    clear: both;
    height: 6px;
    overflow: hidden;
    display: block;
}
.blank9 {
    clear: both;
    height: 9px;
    overflow: hidden;
    display: block;
}
.blank9w {
    background: #fff;
    clear: both;
    height: 9px;
    overflow: hidden;
    display: block;
}
.blank12 {
    clear: both;
    height: 12px;
    overflow: hidden;
    display: block;
}
.blank15 {
    clear: both;
    height: 15px;
    overflow: hidden;
    display: block;
}
.blank20 {
    clear: both;
    height: 20px;
    overflow: hidden;
    display: block;
}
.I_V_,
.I_N_V_,
.I_NV_,
.I_A_,
.I_N_G_,
.I_N_PIC_,
.I_PIC_,
.I_C_,
.I_R_,
.I_SN_,
.I_T_,
.I_NM_,
.I_L_,
.I_TN_ {
    padding: 2px 0 2px 20px;
    background-image: url(http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png);
    background-repeat: no-repeat;
}
.I_V_,
.I_N_V_,
.I_NV_ {
    background-position: 0 center;
}
.I_A_,
.I_N_G_ {
    background-position: -440px center;
}
.I_N_PIC_,
.I_PIC_ {
    background-position: -880px center;
}
.I_C_ {
    background-position: -1320px center;
}
.I_R_ {
    background-position: -1760px center;
}
.I_SN_ {
    background-position: -2200px center;
}
.I_T_ {
    background-position: -2640px center;
}
.I_NM_ {
    background-position: -3080px center;
}
.I_L_ {
    background-position: -3520px center;
}
.I_TN_ {
    background-position: -3960px center;
}
.ico_new,
.ico_hot,
.ico_more {
    background-image: url(http://static.ws.126.net/f2e/common/images/icon_2013.png);
    background-repeat: no-repeat;
}
.ico_new {
    padding: 5px 22px 0 0;
    background-position: right -90px;
}
.ico_hot {
    padding: 5px 20px 0 0;
    background-position: right -47px;
}
.ico_more {
    padding-right: 18px;
    background-position: right 0;
}
.ntes_nav_wrap {
    height: 45px;
}
.c-fl {
    float: left;
}
.c-fr {
    float: right;
}
.ma6,
.mt6 {
    margin-top: 6px;
}
.ma6,
.mr6 {
    margin-right: 6px;
}
.ma6,
.mb6 {
    margin-bottom: 6px;
}
.ma6,
.ml6 {
    margin-left: 6px;
}
.ma12,
.mt12 {
    margin-top: 12px;
}
.ma12,
.mr12 {
    margin-right: 12px;
}
.ma12,
.mb12 {
    margin-bottom: 12px;
}
.ma12,
.ml12 {
    margin-left: 12px;
}
.tips-error input {
    background: #fee;
    border: 1px solid #ffb5b5;
}
@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
}
@-moz-keyframes shake {
    0%,
    100% {
        -moz-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(10px);
    }
}
@-o-keyframes shake {
    0%,
    100% {
        -o-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -o-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -o-transform: translateX(10px);
    }
}
@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}
