<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #a{
            width: 100px;
            height: 100px;
            background-color: antiquewhite;
        }
        #b{
            width: 100px;
            height: 100px;
            background-color: beige;
        }
    </style>

</head>
<body>


<div id="a">
    <div id="p" draggable="true">Hello World</div>
</div>

<div id="b">

</div>

<script src="drag.js"></script>
</body>
</html>