<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>演示Hello World!</title>
</head>
	<body>
	<h1>一、hello World 演示</h1>
		hello {{'world'}} !
	<h2>什么是 AngularJS？</h2>	
	<p>AngularJS 使得开发现代的单一页面应用程序（SPAs：Single Page Applications）变得更加容易。</p>
	<ul>
		<li>AngularJS 把应用程序数据绑定到 HTML 元素。</li>
		<li>AngularJS 可以克隆和重复 HTML 元素。</li>
		<li>AngularJS 可以隐藏和显示 HTML 元素。</li>
		<li>AngularJS 可以在 HTML 元素"背后"添加代码。</li>
		<li>AngularJS 支持输入验证。</li>
	</ul>
	<p>
		
	</p>	
		
	<h1>二、AngularJS的双向数据绑定</h1>
	请输入名称：<input type="text" ng-model="username" placeholder="world"/>
	<hr />
	Hello {{username || "world"}}
	<p ng-bind="username || 'world'">world</p>
	
	<h1>AngularJS 指令</h1>
		<h2>ng-init 指令初始化 AngularJS 应用程序变量。</h2>
	<div ng-init="firstname='John'">
		姓名为：{{firstname}}
		<p data-ng-bind = "firstname"></p>
	</div>
	
	<h3>data-ng- 对 HTML5 有效</h3>
	<div data-ng-init="name='Tom'">
		名字为:{{name}}
		<p data-ng-bind = "name"></p>
	</div>
	
	
	
	<hr />
	
	
	<h1>三、AngularJS 表达式</h1>
	<h2>AngularJS 表达式写在双大括号内：{ { expression } },可以包含文字、运算符和变量</h2>
	<h2>AngularJS 表达式 与 JavaScript 表达式</h2>
	<p>类似于 JavaScript 表达式，AngularJS 表达式可以包含字母，操作符，变量。 </p>
	<p>与 JavaScript 表达式不同，AngularJS 表达式可以写在 HTML 中。</p>
	<p>与 JavaScript 表达式不同，AngularJS 表达式不支持条件判断，循环及异常。</p>
	<p>与 JavaScript 表达式不同，AngularJS 表达式支持过滤器。</p>
	
	
	<p>表达式：5 + 5 ={{5+5}}</p>
	<p>名字全称为:{{firstname +"  " + name}}</p>
	
	<div ng-init="count=5;price=3">
		<h3>数字</h3>
		单价为3,数量为5，总价为：{{count*price}} <br />
		总价为<p ng-bind="count*price"></p>
	</div>
	
	<div ng-app="dfadf" ng-init="person={firstName:'Bill',lastName:'Gates'}">
		<h3>对象</h3>
		姓氏为：{{person.firstName}}  	<br />
		名为<p ng-bind="person.lastName"></p>
	</div>
	
	<div ng-app="df" ng-init="points=[2,3,'23','fasdf']">
		<h3>数组</h3>
		第一个值：{{points[0]}}  <br />
		第四个值：<p ng-bind="points[3]"></p>
	</div>
	<hr />
	
	
	<h1>AngularJS 应用</h1>
	<h2>AngularJS 模块（Module） 定义了 AngularJS 应用。</h2>
	<h2>AngularJS 控制器（Controller） 用于控制 AngularJS 应用。</h2>
	<h2>ng-app指令定义了应用, ng-controller 定义了控制器。</h2>
	<a href="firstApp.html" target="_blank">这里不能用，请移步至firstApp.html查看</a>
	<!--<div ng-app="firstApp" ng-controller="firstController">
		姓：<input type="text" ng-model="firstName"/><br />
		名：<input type="text" ng-model="lastName"/><br />
		姓名：{{firstName + "   "+lastName}}
	</div>-->
	
	<hr />
	<h1>重复 HTML 元素</h1>
	<h2>指令</h2>
	<p>
		<h3>ng-app 指令</h3>
		ng-app 指令定义了 AngularJS 应用程序的 根元素。
		ng-app 指令在网页加载完毕时会自动引导（自动初始化）应用程序。
		
		<h3>ng-init 指令</h3>
		ng-init 指令为 AngularJS 应用程序定义了 初始值。
		通常情况下，不使用 ng-init。您将使用一个控制器或模块来代替它。
		
		<h3>ng-model 指令</h3>
		ng-model 指令 绑定 HTML 元素 到应用程序数据。
		ng-model 指令也可以：
		为应用程序数据提供类型验证（number、email、required）。
		为应用程序数据提供状态（invalid、dirty、touched、error）。
		为 HTML 元素提供 CSS 类。
		绑定 HTML 元素到 HTML 表单。
		
		
		<h3>ng-repeat 指令</h3>
		ng-repeat 指令对于集合中（数组中）的每个项会 克隆一次 HTML 元素。
	</p>
	<div ng-app="" ng-init="names=['John','Tom','Tony'];objs=[{'number':1,'en':'first'},{'number':2,'en':'second'},{'number':3,'en':'third'}]">
		<h2>使用ng-repeat来循环数组</h2>
		<ul>
			<li ng-repeat="x in names">
				{{x}}
			</li>
		</ul>
		
		<ul>
			<li ng-repeat="y in objs">
				{{y.number}}:{{y.en}}
			</li>
		</ul>
		
		
		
		
	</div>
	<hr />
	<h1>AngularJS 过滤器</h1>
	<h2>表达式中添加过滤器</h2>
	<p>过滤器可以通过一个管道字符（|）和一个过滤器添加到表达式中。</p>
	
	<div ng-app="" ng-init="firstName='Tony';price=5;count=10;names = [
        {name:'Jani',country:'Norway'},
        {name:'Hege',country:'Sweden'},
        {name:'Kai',country:'Denmark'}
    ];">
		<p>名字：{{firstName}}</p>
		<p>大写：{{firstName | uppercase}}</p>
		<p>小写：{{firstName | lowercase}}</p>
		单价：<input type="number" ng-model="price" />
		数量：<input type="number" ng-model="count"/>
		<p>总价：{{price* count | currency }}</p>
		<p>
			<ul>
			  <li ng-repeat="x in names | orderBy:'country'">
			    {{ x.name + ', ' + x.country }}
			  </li>
			</ul>
		</p>
	</div>
	
	
	<script type="text/javascript" src="js/angular-1.5.0.js" ></script>
		
<!--	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js" ></script>
-->
	
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
