*{margin:0;padding:0;font-family:microsoft yahei;}
.myTitle{
  background-color:#0099cc;
  color:#FFF;
  border-radius:5px;
  animation:myfirst 5s infinite;
  display: inline-block;
  animation: myfirst 5s ease-in-out infinite;
}

@keyframes myfirst
{
0%   {background:red;transform:rotate(20deg)}
100% {background:green;transform:rotate(3600deg)}
}
