<!DOCTYPE html>
<html ng-app="myNoteApp">
	<head>
		<meta charset="UTF-8">
		<title>AngularJS 应用</title>
		
		
	</head>
	<body>
		<div ng-controller="myNoteCtrl">
			<h2>我的笔记</h2>

			<p><textarea ng-model="message" cols="40" rows="10"></textarea></p>
			
			<p>
				<button ng-click="save()">保存</button>
				<button ng-click="clear()">清除</button>
			</p>
			
			<p>Number of characters left: <span ng-bind="left()"></span></p>

			
		</div>
		
		
		<hr />
		<div>
			<h2>AngularJS 应用架构</h2>
			<p>以上实例是一个完整的 AngularJS 单页Web应用（single page web application，SPA）。</p>
			<p>&lt;html&gt; 元素包含了 AngularJS 应用 (<strong>ng-app=</strong>)。</p>
			<p>&lt;div&gt; 元素定义了 AngularJS 控制器的作用域(<strong>ng-controller=</strong>)。</p>
			<p>在一个应用可以由很多控制器。</p>
			<p>应用程序(<strong>var app = angular.module("myNoteApp", []);</strong>) 定义了应用模型代码。</p>
			<p>一个或多个控制器 (<strong>app.controller</strong>) 定义了控制器代码。</p>
			<hr>

			<hr>

			<h2>总结 - 它是如何工作的呢？</h2>
			<p>ng-app 指令位于应用的根元素下。</p>
			<p>对于单页Web应用（single page web application，SPA），应用的根通常为&lt;html&gt; 元素。</p>
			<p>一个或多个 ng-controller 指令定义了应用的控制器。每个控制器有他自己的作用域：: 定义的 HTML 元素。</p>
			<p>AngularJS 在 HTML DOMContentLoaded 事件中自动开始。如果找到
			ng-app 指令 ， AngularJS 载入指令中的模块，并将 ng-app 作为应用的根进行编译。 </p>
			<p>应用的根可以是整个页面，或者页面的一小部分，如果是一小部分会更快编译和执行。</p>

		</div>
		<script src="../js/angular-1.5.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = angular.module("myNoteApp", []);
			app.controller("myNoteCtrl", function($scope) {
			    $scope.message = "";
			    $scope.left  = function() {
			    	var extraLen = 100 - $scope.message.length;
			    	if (extraLen < 0) {
			    		alert("超过最大值了~~~");
			    		$scope.message = $scope.message.substr(0,100);
			    	}
			    	return 100 - $scope.message.length;
			    };
			    $scope.clear = function() {$scope.message = "";};
			    $scope.save  = function() {alert("Note Saved");};
			});
		</script>
	</body>
</html>
