<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户列表</title>
	</head>
	<body>
		<h3>Users</h3>
		<table class="table table-striped">
		  <thead><tr>
		    <th>Edit</th>
		    <th>First Name</th>
		    <th>Last Name</th>
		  </tr></thead>
		  <tbody><tr ng-repeat="user in users">
		    <td>
		      <button class="btn" ng-click="editUser(user.id)">
		        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
		      </button>
		    </td>
		    <td>{{ user.fName }}</td>
		    <td>{{ user.lName }}</td>
		  </tr></tbody>
		</table>
		
		
	</body>
</html>
