<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新年计划和目标</title>
	</head>
	<body>
		<h1>2015过去了，我的进步在哪里？</h1>
		
		<p>
			今年开始阅读了，这是个好的开始。虽然起步有点晚，但就算前进一点点，也比停留在原地犹豫好。
			
			开始健身了，基本可以坚持每周去两次体育馆，每次回来都是身体酸疼的感觉，虽然痛苦，但是感觉非常好，
			身体结实了许多。健身的好处真的好多(此处省略1万字……)，健身的好处，只有自己才知道。
			
			今年也开始注意身体的护理了，最重要的，增重！！！增重！！！增重！！！重要的事说三遍！！！
			然并卵，到目前为止，比健身开始之前增加了5斤，但是，但是，随时都会反弹回去，一不小心，就回到了起点。
			这个真的很揪心，很揪心，这个方面还要花大功夫来解决！！
			
			生活习惯的改变。
				早起一小时，真的可以有很多事情做，背背单词，吃顿很好的早餐，改变了以前一直睡到快要迟到了才起床。
				
			玩手机到底在干什么，微信，QQ,今日头条，刷新闻，新闻一条条的是看不完的，这是一个很糟糕的事情。
				而且没有任何的好处，
				
				
			晚上回家的时间：
				晚上除了上课看视频之外，大部分的时间用来看综艺节目，和电影。放松放松总是挺好的.
				but，看太多了就有点过了，要有所节制。时间是要用来干大事的。
			    曾经练了一段时间的口语，也没有再坚持。damn f**k!!!
			
			
			
		</p>
		<h2>2015，有哪些值得特殊的事情？</h2>
		<p>
			1.在安徽合肥待了2个月的时间……
			2.去黄山玩了一次，一天……  很尽兴，而且是豪华游，坐了3次缆车，也是醉了，
			3.手机丢了一次，黄山的照片都没了，国庆回家的照片都没了，真是无语了。
				吃一堑长一智，以后的手机一定要放到随时都可以感受到的地方。包要随时都拉好，放在眼睛可以看到的地方。
			4.买了个电动车，骑车到了天安门两次，给生活带来了很多的便利，也扩大了自己的行动范围。
			
		</p>
		
		<h2>工作的那些事</h2>
		<p>
			重点来了！！！！
				来到了社会上，最最重要的就是工作了。有了工作才能立足于社会，才能有生存的资本。
				一个人的职业实在是太重要了，当然，工资也是很重要的。
				但是，工作内容，对的，工作内容，这个才是key point!!
			每个人在一个地方待久了，做一件事时间长了，都会有驾轻就熟，觉得一切so easy的感觉，这样，就会开始
			有时间思考，
				what we are doing ? why doing this? for what ?
			这些问题不解决的话，会给工作态度，工作效率带来很大的影响。
			
			
			
			
			
		</p>
	</body>
</html>
