<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>测试bootstrap 的container-fulid</title>
		<link rel="stylesheet" type="text/css" href="../../js/libs/bootstrap-3.3.5/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">1</div>
				<div class="col-md-6">2</div>
				<div class="col-md-3">3</div>
			</div>
		</div>
		<script src="../../js/jquery.1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
