<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PHP学习经验积累</title>
		<link rel="stylesheet" type="text/css" href="../../css/itemList.css"/>
	</head>
	<body>
		<h1>php安装教程</h1>
		<pre>
			<code>
	安装XAMPP
		1.下载:
			个人电脑是64位的，从官网上没有windows版64位的，最后从百度软件里找到了，
			32位的可以直接从官网下载，下载地址：
			官网：https://www.apachefriends.org/zh_cn/index.html
			百度软件：http://rj.baidu.com/soft/detail/12489.html?ald
			
		安装之前可能需要安装C++的运行环境，
		用到的工具：
		DirectX_Repair-v3.2
	
	遇到的坑：
		多次安装失败，各种原因。
	爬坑经验：
		如果没有安装成功，建议将安装文件全部删除，重新安装，如果某些进程正在执行，直接用文件粉碎机粉碎即可。
		
	由于刚开始没有XAMPP 64的安装包，于是安装了WAMP。
	遇到的坑：
		也是没有C++等运行环境，缺少msvcr110.dll 等，
	爬坑经验：
		DirectX_Repair-v3.2
		
	运行：
		启动，正常点击start即可，端口被占用什么的，把相关的关掉，重启一下即可。
	
	运行项目(存放目录)：
		XAMPP:D:\software\xampp\htdocs
		WAMP:wamp/www
		
		
			</code>
		</pre>
	</body>
</html>
